
.events-section {
  display: flex;
  gap: 10px;

}


.container {
      background: white;
      border-radius: 16px;
      padding:26px 20px;

      width: 350px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    }

.title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

.event {
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      padding: 5px;
      border-radius: 6px;
      margin-bottom: 15px;
      background-color: var(--gray-color);
    }

.event:last-child {
      margin-bottom: 0;
    }

    .thumbnail {
      height: 50px;
      background-color: #dcdcdc;
      border-radius: 8px;
    }

    .details {
      flex: 1;
    }

    .details .name {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 2px;
    }

    .details .time {
      font-size: 12px;
      color: gray;
    }

    .attendees {
      font-size: 14px;
      font-weight: bold;
      color: #555;
      text-align: right;
    }

    .attendees span {
      display: block;
      font-size: 11px;
      color: gray;
      font-weight: normal;
    }
.event {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.thumbnail img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  flex: 1;
  margin-left: 15px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  width: 50% !important;
}

.time {
  color: #666;
  font-size: 14px;
}

.attendees {
  text-align: center;
  font-weight: bold;
}
.attendees span {
  display: block;
  font-size: 12px;
  color: gray;
}
