.mat-dialog-content {
  overflow-y: auto;
  height:90vh ;

  padding-right: 8px;
  padding-top: -10px;
  padding-bottom: -100px;
  color: #0a3d62;
}
.mat-mdc-dialog-content {
    max-height: 78vh;
}

h2{
  text-align: center;
  font-size: 25px !important;
  font-weight: 800 !important;
   color: #0a3d62 !important;
}
.mat-mdc-dialog-content>:first-child {
    margin-top: 20px;
}

mat-form-field {
  width: 100%;
  color: #0a3d62;

}
mat-label {
  color: #0a3d62 !important;
}

input.mat-input-element,
textarea.mat-input-element {
  color: #0a3d62;
}


.event-type {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 10px 0;
}

.event-type button {
  background-color: #0a3d62 !important;
  color: #fff !important;
  transition: transform 0.2s ease;
}

.event-type button:hover {
  transform: scale(1.1);
  background-color: #062844 !important;
}


.location-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}

.location-section h4 {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #0a3d62;
}

.map {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 6px;
}


.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.price-section button {
  background-color: #0a3d62 !important;
  color: #fff !important;
}

.price-input {
  flex: 1;
}


mat-dialog-actions {
position: fixed;
bottom: 0;
  background: #fff;
  display: flex;
  gap: 150px;
  padding: 12px 16px;
  border-top: 1px solid #eee;
}


mat-dialog-actions button:first-child {
  background: #f1f2f6;
  color: #0a3d62;
  border-radius: 8px;
  padding: 6px 18px;
  transition: background 0.2s ease;
}

mat-dialog-actions button:first-child:hover {
  background: #dcdde1;
}
.mdc-dialog__content>:first-child {
    margin-top: 20 !important;
}

mat-dialog-actions button[color="primary"] {
  background: #0a3d62 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px;
  padding: 6px 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  transition: background 0.2s ease, transform 0.2s ease;

}

mat-dialog-actions button[color="primary"]:hover {
  background: #062844 !important;
  transform: translateY(-2px);
}


.cdk-overlay-backdrop {
  background: rgba(161, 2, 2, 0.4) !important;
  backdrop-filter: blur(6px) !important;
}


mat-error {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 10px !important;
  display: block;
  line-height: 1.2;
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.upload-btn {
  width: 100%;
  border-radius: 6px !important;
  padding: 6px 20px !important;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #555;
  color: #062844;
}

.file-name {
  font-size: 13px;
  color: #949090 !important;
  font-style: italic;
}
